/* Import Google Font - Poppins */
* {
    margin: 0 0 5px 0;
    padding: 0;
    padding-right: 10px;
    font-family: 'Poppins', sans-serif;
}

body {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh; 
    min-height: 50vh;
    background: dodgerblue;
    overflow: auto;
}

.container {
    width: 50vw;  
    background: white;
    border-radius: 7px;
    padding: 2px 2px 20px 10px;
    min-width: min-content;
    min-height: min-content;
    height: 92vh;
    display: flex;
    flex-direction: column;
}

.container header {
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
}

.container .search {
    position: relative;
    margin: 35px 0 18px;
}

.container .info-text {
    font-size: 13px;
    text-align: justify;
    color: #9a9a9a;
    margin: -3px 0 -10px;
}

.info-text span {
    font-weight: 500;
}

.container ul {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.2s ease;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.container.active ul {
    opacity: 1;
    overflow: hidden;
}

.container.active .info-text {
    display: none;
}

.container.active {
    position: relative;
    top: 6px;
}

.container ul li {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    padding-bottom: 17px;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}

@media (min-width: 610px) {
    .container header {
        font-size: 28px;
    }

    ul .content {
        overflow: auto;
        overflow-x: hidden;
    }

    .container.active ul {
        height: 70vh;
    }

    img {
        max-height: 45vh;

        object-fit: contain;  
    }
}

@media (max-width: 609px) {
    .container header {
        font-size: 6vw;
    }

    .container {
        height: auto;
    }

    ul .content {
        max-height: 65vh;
        overflow: auto;
        overflow-y: hidden;
    }

    .container.active ul {
        height: 75vh;
    }

    img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain; 
    }
}

@media (max-height: 750px) {
	 #dropdownMenu{
		max-height: 50px;
	}
}

/* Σβηνει την τελευταια γραμμη */
ul li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
}

.container li .details {
    border-left: 3px solid #4d59fb;
    padding-left: 10px;
    border-radius: 4px 0 0 4px;
}

.container li .details p {
    font-size: 17px;
    font-weight: 600;
}

.container li .details span {
    font-size: 15px;
    color: #7e7e7e;
}

select {
    width: 100%;
    height: auto;
    max-height: 8vh;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.wimage {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    position: relative;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
}
