
/* Import Google Font - Poppins */
* {
    margin: 0 0 5px 0;
    padding: 0;
    padding-right: 10px;
    font-family: 'Poppins', sans-serif;
}

#ratio {
    aspect-ratio: 16 / 9;  
    width: 100%;  
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
body {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #d6f4f5;
    overflow: hidden;
}

.main-container {
    height: calc(100vh - 50px); 
    overflow-y: hidden;
  }

  .main-container .excercise {
    text-align: center;
    color: #1152a4 ;
    font-size: 18px;
  }

.container {
    width: 50vw;
    background: white;
    border-radius: 7px;
    padding: 2px 2px 20px 10px;
    min-width: min-content;
    min-height: 92vh; 
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    justify-content: center;
    height: auto;
}

.container .content {
    flex-grow: 1;  
    overflow-y: auto; 
    max-height: calc(90vh - 100px); 
    padding-right: 10px;
}

.container header {
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
	    font-size: 28px;
}

.container .search {
    position: relative;
    margin: 35px 0 18px;
}

.container .info-text {
    font-size: 13px;
    text-align: justify;
    color: #9a9a9a;
    margin: -3px 0 -10px;
}

.container ul {
    height: 0;
    opacity: 0;
    overflow-y: visible;
    transition: all 0.2s ease;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.container.active ul {
    opacity: 1;
}

.container.active .info-text {
    display: none;
}

.container.active {
    position: relative;
    top: 6px;
}

.container ul li {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    padding-bottom: 17px;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}

@media (min-width: 701px) {
    .container header {
        font-size: 28px;
    }

    ul .content {
        overflow: auto;
        overflow-x: hidden;
    }

    .container.active ul {
        height: auto;
    }

    img {
        max-height: 45vh;

        object-fit: contain;  
    }

}

@media (max-width: 700px) {
    .container header {
        font-size: 28px;
    }

    .container {
        height: auto;
        display: flex;
        justify-content: center;
    }
    ul .content {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .container.active ul {
        height: auto;
    }

    img {
        max-height: 50%;
        max-width: 50%;
        object-fit: contain; 
    }

    .main-container {
        margin-left: 10px;
    }
}

@media (max-height: 400px) {
	 #dropdownMenu{
		max-height: 50px;
	}
}

/* Σβηνει την τελευταια γραμμη */
ul li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
}

.container .details, .meaning {
    padding-right: 0;
    text-align: justify;
}

.container li .details {
    border-left: 3px solid #4d59fb;
    padding-left: 10px;
    border-radius: 4px 0 0 4px;
}

.container li .details p {
    font-size: 17px;
    font-weight: 600;
}

.container li .details span {
    font-size: 15px;
    color: #7e7e7e;
}

select {
    appearance: none;
    -webkit-appearance: none; /* Safari */
    -moz-appearance: none; /* Firefox */
    width: 100%;
    height: auto;
    max-height: 8vh;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

select:focus {
    outline: none;
    border-color: #007bff;
}

.wimage {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    position: relative;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
}


footer {
    position: fixed;  
    bottom: 0;
    left: 0;
    width: 100%;  
    background: #f7f8f8;
    padding: 5px;
    font-size: 1em;
    border-top: 2px solid #ccc;
    text-align: right;  
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    margin-bottom: 0; 
  }


  footer a {
    color: black;
    text-decoration: none;  
    padding-right: 35px;
  }
  
  footer a:hover {
    text-decoration: underline; 
  }