body {
  top:0;
  margin-left: 20px;
}
.excercise {
    width: 98%;
    text-align: justify;
    color: blue;
    line-height: 1.5;
    font-size: 18px;
    font-family: Georgia, serif;
    min-width: 700px;
    padding-right: 50px;
  }

  .excercise h2 {
    text-align: center;
  }

  .excercise a {
    color:darkcyan;
  }

  .excercise a:hover {
    color:brown;
  }

  .sun-editor-editable img {
    max-width: 100%;  
    height: auto;  
    object-fit: contain;  
}

@media screen and (max-width: 767px) {
  .excercise {
    font-size: 12px;
  }
}