
*, *::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
html, body {
	  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#ratio {
  aspect-ratio: auto;
  width: 100%;
  height: auto;
  min-width: 100%;
}

.excercise {
 width: 98%;  
  max-width: 98%;  
  text-align: justify;
  color: #082b99;
  line-height: 1.5;
  font-size: 18px;
  background-color: #d4f4e1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid grey;
  margin: 10px auto;
  box-sizing: border-box; 
}

.excercise ol {
  margin: 0;
  padding-left: 20px;  
}

.excercise li {
  margin-bottom: 8px;  
}

.excercise span {
  color: #870d81;
}

.excercise h2 {
  text-align: center;
  font-size: 1.5em;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;  
  overflow-x: hidden;  
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f8f8;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  position: sticky;
  bottom: 0;
  left: 0;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}



  .sun-editor-editable table {
    table-layout: fixed;
	  width: 100%;
  overflow-x: auto;
  }
  
  

.sun-editor-editable td:nth-child(1) {
  width: 120px;
  text-align: center;
  background-color: #d6f4f5;
  font-weight: bold;
}

tr:nth-child(1) {
  text-align: center;
  background-color: #d6f4f5;
  font-weight: bold;
}

.se-controller-table-cell, .se-controller-table {
  display: none !important;
}

td {
  border: 1px solid gray !important;
}

@media (max-width: 441px) {
  .excercise {
    width: 90%;
    font-size: 16px;
  }

  .excercise h2 {
    font-size: 1.3em;
  }

  footer {
    font-size: 0.9em;
  }

  .sun-editor-editable table {
    overflow-x: auto;
  }
}

@media (max-width: 440px) {
  #ratio {
    aspect-ratio: auto;
    height: auto;
  }
}

.se-char-counter {
	color: black;
}