body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(54, 182, 221);
    overflow: hidden;
    min-width: 330px;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgb(36, 123, 236);
    font-size: 18px;
    line-height: 1.6;
    width: 55%;
    border: 3px solid black;
    border-radius: 20px;
    position: relative;  
    margin-top: 20px;  
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 40px;


}
.matching-pairs {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 20px;
    min-width: 330px;
}
.column {
    display: flex;
    flex-direction: column;
    width: 60vw;
}
.sentence {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
    background-color: #f9f9f9;
    border-radius: 7px;
    transition: background-color 0.3s;
    min-width: 115px;
    
}
.red {
    background-color: #ffcccc;
}
.green {
    background-color: #ccffcc;
}
.blue {
    background-color: #ccccff;
}
.yellow {
    background-color: #ffffcc;
}
.orange {
    background-color: #ffcc99;
}
.purple {
    background-color: #e6ccff;
}

.button-container {
    margin-top: 20px;  
    display: flex;  
    justify-content: center;
    gap: 25px;  
}

.btn {
    border: black solid 1px;
    border-radius: 10px;
}

.btn-success {
    background-color: #28a745;  
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline-block;
}

.btn-success:hover {
    background-color: #218838; / 
}

.btn-success:active {
    background-color: #1e7e34;  
    box-shadow: 0 1px 3px rgba(0,0,0,0.125);  
}

.btn-reset {
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline-block;
}

.btn-reset:hover {
    background-color: #ac412e; / 
}

footer {
    position: fixed;  
    bottom: 0;
    left: 0;
    width: 100%;  
    background: #f7f8f8;
    padding: 5px;
    font-size: 1em;
    border-top: 2px solid #ccc;
    text-align: right;  
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    margin-bottom: 0; 
  }


  footer a {
    color: black;
    text-decoration: none;  
    padding-right: 35px;
  }
  
  footer a:hover {
    text-decoration: underline; 
  }