.wrapper {
  position: relative;
   width: 100%;
background-color:red;
}

#ratio {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}

.what {
  padding: 7px;
  color: white;
  background-color: red;
  font-size: 16px;

  border: 3px solid black;
  border-radius: 25px;
}

.image-container {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: 5px auto;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Input Positioning (Responsive) */
.input {
  position: absolute;
  width: 30%;  
  max-width: 60%;
  padding: 10px;
  font-size: 2vw;
  border-radius: 15px;
  border: 2px solid #000;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 14px;
}

/* === Button styling === */
.b0 {
  color: white;
  background-color: #0F54AE;
  border: none;
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  cursor: pointer;
  text-align: justify;
}

#in1 { top: 15%; left: 65%; transform: translate(-50%, -50%); }
#in2 { top: 27%; left: 30%; transform: translate(-50%, -50%); }
#in3 { top: 27%; left: 75%; transform: translate(-50%, -50%); }
#in4 { top: 47%; left: 20%; transform: translate(-50%, -50%); }
#in5 { top: 57%; left: 80%; transform: translate(-50%, -50%); }
#in6 { top: 62%; left: 10%; transform: translate(-10%, -25%); }
#in7 { top: 77%; left: 39%; transform: translate(-50%, -50%); }
#in8 { top: 90%; left: 60%; transform: translate(-50%, -50%); }
#in9 { top: 5%; left: 85%; transform: translate(-50%, -50%); }
#in10 { top: 8%; left: 20%; transform: translate(-50%, -50%); }
#in11 { top: 48%; left: 60%; transform: translate(-50%, -50%); }

@media (min-width: 769px) {
  body {
        overflow: hidden;
  }
  .image-container {
    height: 67vh;
    display: flex;
    justify-content: center;
    align-items: center;


    margin: 0 auto;
  }

  #ratio {
    width: 100%;
  }

  .image-container img {
  max-height: 100%;
  width: auto;
}
}

/* Mobile CSS */
@media (max-width: 768px) {
  body {
    min-width: 670px;
  }

  .what {
    font-size: 12px;

  }

  .input {

    padding: 7px;
    font-size: 12px;
  }

  #in6 { left: 15%; }
  #in7 { top: 75%; }
  #in8 { top: 88%; }
  
  .b0 {
	   font-size: 12px;
  }
}

/* Κοινά Στυλ */
#saveButton {
  margin: 2px auto;
  padding: 15px 15px;
  font-size: 3vw;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  z-index: 2;
}

footer {
  position: fixed;
  bottom: 1%;
  right: 1%;
  padding: 1vw;
  font-size: 1em;
}

footer a {
  color: black;
  text-decoration: none;  
}

footer a:hover {
  text-decoration: underline; 
}

input[type="text"]:disabled {
  background: tomato;
  color: white;
}

