/* Import Google font - Poppins */
@import url('css2.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;  
}

body {
  overflow: hidden;  
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4a98f7;

}

#ratio {
  aspect-ratio: 16 / 9;  
  width: 100%;  
  height: auto;
}

.message h3 {
  font-weight:bolder;
}

.container {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 100vw;
  max-height: 100vh;
  height: 98vh;
  overflow: hidden;  
}

section {
  background: #24155b;
  border-radius: 7px;
  flex: 0.16;  

}

.tools-board {
  background: #e6e8ec;
  width: 210px;
  padding: 15px 22px 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.tools-board .row {
  margin-bottom: 9px;
}

.row .options {
  list-style: none;
  margin: 5px 0 0 5px;
}

.row .options .option {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}

.option:hover img,
.option.active img {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);

}

.option span,
.option label {
  color: #5a6168;
  cursor: pointer;
  padding-left: 10px;
}

.option:hover span,
.option.active span,
.option:hover label,
.option.active label {
  color: #0d47a1;
  font-weight: bold;
}

.option #fill-color {
  cursor: pointer;
  height: 14px;
  width: 14px;
}

#fill-color:checked ~ label {
  color: #4a98f7;
}

.option #size-slider {
  width: 100%;
  height: 5px;
  margin-top: 10px;
}

.colors .options {
  display: flex;
  justify-content: space-between;
}

.colors .option {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}

.colors .option:nth-child(1) {
  background-color: #fff;
  border: 1px solid #bfbfbf;
}

.colors .option:nth-child(2) {
  background-color: #000;
}

.colors .option:nth-child(3) {
  background-color: #e02020;
}

.colors .option:nth-child(4) {
  background-color: #6dd400;
}

.colors .option:nth-child(5) {
  border-radius: 20%;
  background-color: #4a98f7;
}

.colors .option.selected::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before {
  border-color: #ccc;
}

.option #color-picker {
  opacity: 0;
  cursor: pointer;
}

/* Stroke options */
.stroke-colors .stroke-options {
  display: flex;
  justify-content: space-between;
}

.stroke-colors .stroke-option {
  height: 20px;
  width: 20px;
  border-radius: 10%;
  margin-top: 3px;
  position: relative;
}

.stroke-colors .stroke-option:nth-child(1) {
  background-color: #fff;
  border: 1px solid #bfbfbf;
}

.stroke-colors .stroke-option:nth-child(2) {
  background-color: #000;
}

.stroke-colors .stroke-option:nth-child(3) {
  background-color: #e02020;
}

.stroke-colors .stroke-option:nth-child(4) {
  background-color: #6dd400;
}

.stroke-colors .stroke-option:nth-child(5) {
  border-radius: 20%;
  background-color: #4a98f7;
}

.stroke-colors .stroke-option.selected::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}

.stroke-colors .stroke-option:first-child.selected::before {
  border-color: #ccc;
}

.stroke-options #stroke-picker {
  opacity: 0;
  cursor: pointer;
}

.row.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: left;  
  gap: 2px;  
}

.buttons button {
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
   display: flex;
  align-items: center;
  gap: 5px;
}

.buttons .clear-canvas {
  color: #24155b ;
  transition: all 0.3s ease;
  margin:0;
}

.clear-canvas:hover {
  color: #990000 ;
}

.buttons .save-img {
  color: #000;
  padding:0;
  margin:0;
}

.save-img:hover {
  color: #990000 ;
}

.drawing-board {
  flex: 0.84;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.drawing-board canvas {
  display: block;
}

.title {
  font-weight: bold;
  font-size: medium;
  color: #24155b ;
}

.message-container {
  display: flex;
  align-items: center;
  border-radius: 7px;
  color: #24155b ;
  text-decoration: solid;
  font-size:16px;
  font-weight: bolder;
  background-color: #d2c7f9 ;
  text-align: center;
  padding: 0 5px 3px 5px;
  flex: 0 0 100px;
}

.message span {
  color: #082b99;
}

.message p  {
  line-height: 22.5px;
}

footer {
  position: fixed;  
  bottom: 0;
  left: 0;
  width: 100%;  
  background: #f7f8f8;
  padding: 3px;
  font-size: 1em;
  border-top: 2px solid #ccc;
  text-align: right;  
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
  margin-bottom: 0; 
}


footer a {
  color: black;
  text-decoration: none;  
  padding-right: 35px;
}

footer a:hover {
  text-decoration: underline; 
}

/* Βασικές αλλαγές για κινητές συσκευές */
@media screen and (max-width: 768px) {

.option.active img {
  border: 1px solid #0d47a1;

}


  /* Κουμπί hamburger menu για εμφάνιση μηνύματος */
    @keyframes blink {
  0%, 100% { opacity: 1; } 
  50% { opacity: 0; }  
}

.message-toggle.blinking::before {
  animation: blink 0.8s ease-in-out infinite;
}

  .message-toggle {
    position: fixed;
    bottom:1px;
    left: 60px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
  }
  

  .message-toggle::before {
    content: "☰";
    font-size: 24px;
    color: #24155b;
  }
  
  /* Απόκρυψη μηνύματος και εμφάνιση με κλικ */
  .message-container {
	  opacity: 0;
	  transform: translateY(20px);
	  transition: opacity 0.3s ease, transform 0.3s ease;
	  visibility: hidden;
	  position: fixed;
	  bottom: 35px;
	  left: 60px;
	  background-color: #d2c7f9;
	  padding: 10px;
	  border-radius: 5px;
	  z-index: 1000;
	  width: 200px;
	  border: 1px solid black;
  }
  
  .message-container.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

  /* Η μπάρα εργαλείων στα αριστερά, κάθετα */
  .tools-board {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    background: #e6e8ec;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 0;
    overflow-y: auto;
	z-index:1;
  }

  .tools-board .row {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tools-board .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .tools-board .option {
    margin: 4px 0;

    text-align: center;
    position: relative;
  }
  
  .row .options .option {
	  	margin-bottom:0;
  }

  .tools-board .option span, .row .title, .clear-canvas span, .save-img span {
    display: none;
  }

  .tools-board .option:hover::after {
    content: attr(id);
    position: absolute;
    left: 70px;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
  }

  #size-slider {
    margin-top: 2px;
  }

  /* Προσαρμογή του whitepage ώστε να καταλαμβάνει όλο τον υπόλοιπο χώρο */
  #whitepage {
    position: absolute;
    top: 0;
    left: 60px;
    width: calc(100vw - 60px);
    height: 100vh;
	object-fit: contain;
  }
  
  /* Αφαίρεση background-color και border από τα κουμπιά */
.buttons .clear-canvas, .buttons .save-img  {
  border: none;
  background: none;
  transition: all 0.3s ease;
  padding: 20px 0;
  
}

.buttons .clear-canvas  {
  padding: 20px 0 0 0;
  margin-top: 0;
}

.buttons .save-img  {
  padding: 1px 0;
}

.stroke-colors .stroke-option:nth-child(1) {
  margin-top: 5px;
}

  footer {
 z-index:0;
  }

}

@media screen and (orientation: landscape) and (max-height: 500px) {
  body::before {
    content: "Παρακαλώ γυρίστε τη συσκευή σας σε κάθετη προβολή ή επιλέξτε συσκευή με μεγαλύτερο ύψος οθόνης.";
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #24155b;
    color: white;
    font-size: 18px;
    text-align: center;
    z-index: 9999;
    padding: 20px;
  }
}